# Logs
logs
*.log
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local stuff
__pycache__
.trash
.bin
.venv
.pytest_cache
*.egg-info*
*egg-info*
.coverage
.coverage_html

# Environment files
*secret*
*env*

CLAUDE.md